<div class="wrapper">
  <div class="block">
    <form [formGroup]="login" class="form">
      <h1 id="headline">MOVIE BOX</h1>
      <br />
      <label for="email">Unesite Vašu email adresu: </label>
      <input
        type="email"
        placeholder="Email"
        class="inp"
        formControlName="email"
      />
      <br />
      <label for="password">Unesite password: </label>
      <input
        type="password"
        placeholder="Password"
        class="inp"
        formControlName="password"
      />
      <br />
      <div class="btns">
        <button (click)="loginSubmit(login.value)">Log In</button>
        <br />
        <button (click)="goToRegister()">Register</button>
      </div>
    </form>
  </div>
</div>
